.mainWindow {
    position: fixed;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/background.png");
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 20px;
}

.mainWindow > * {
    width: 500px;
    background-size: 100% 100%;
    background-position: center;
}

#tabsHeader > * {
    line-height: 30px;
    vertical-align: middle;
}

.tab {
    float: left;
    margin-right: 2px;
    width: 40px;
    height: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/tab.png");
    position: relative;
    filter: saturate(0);
}

.tab:hover {
    filter: saturate(2);
}
#tabSelected {
    filter: saturate(2);
}

#bodyContent {
    min-height: 30px;
    width:470px;
    margin-left: 15px;
    height: auto;
}

#name {
    line-height: 41px;
    vertical-align: middle;
    font-family: Georgia, serif;
    font-size: large;
}

#windowTopBar {
    min-height: 41px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/topBar.png");
    text-align: center;
}

#windowBody {
    min-height: 50px;
    height: auto;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/side.png");
}

#windowBottom {
    min-height: 20px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/bottom.png");
}

#attack {
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/tabs/attack.png");
}

#settings {
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/tabs/settings.png");
}

.tab > * {
    height: 22px;
    width: 22px;
    background-size: 100% 100%;
    background-position: center;
    top: 57%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#bodyContent > div:nth-child(2) {
    height: 400px;
    width: 100%;
}

#tabsHeader {
    width: 100%;
    height: auto;
    min-height: 30px;
}
