.mainWindow {
    position: fixed;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/background.png");
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 20px;
}

.mainWindow > * {
    width: 500px;
    background-size: 100% 100%;
    background-position: center;
}

#tabsHeader > * {
    line-height: 30px;
    vertical-align: middle;
}

.tab {
    float: left;
    margin-right: 2px;
    width: 40px;
    height: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/tab.png");
    position: relative;
    filter: saturate(0);
}

.tab:hover {
    filter: saturate(2);
}
#tabSelected {
    filter: saturate(2);
}

#bodyContent {
    min-height: 30px;
    width:470px;
    margin-left: 15px;
    height: auto;
}

#name {
    line-height: 41px;
    vertical-align: middle;
    font-family: Georgia, serif;
    font-size: large;
}

#windowTopBar {
    min-height: 41px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/topBar.png");
    text-align: center;
}

#windowBody {
    min-height: 50px;
    height: auto;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/side.png");
}

#windowBottom {
    min-height: 20px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/bottom.png");
}

#attack {
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/tabs/attack.png");
}

#settings {
    background-image: url("chrome-extension://__MSG_@@extension_id__/mainWindow/images/tabs/settings.png");
}

.tab > * {
    height: 22px;
    width: 22px;
    background-size: 100% 100%;
    background-position: center;
    top: 57%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#bodyContent > div:nth-child(2) {
    height: 400px;
    width: 100%;
    margin-top:-15px;
}

#tabsHeader {
    width: 100%;
    height: auto;
    min-height: 30px;
}

.buttonClass {
    min-width: 100px;
    width: fit-content;
    height: 30px;
    background: linear-gradient(to bottom, rgb(183,112,55) 0%,rgb(176,96,38) 1%,rgb(145,72,30) 30%,rgb(130,62,24) 99%,rgb(176,104,50) 100%);
    line-height: 30px;
    vertical-align: middle;
    border-radius: 8px;
    padding-left:20px;
    padding-right:20px;
}

.buttonClass:hover{
    background: linear-gradient(to bottom, rgb(245, 205, 72) 0%,rgb(223, 154, 52) 1%,rgb(186, 99, 32) 30%,rgb(146, 71, 21) 99%,rgb(163, 93, 40) 100%);
}

#close-button {
    float: right;
    background-color: rgb(119,42,29);
    width: 20px;
    height: 20px;
    z-index: 1000;
    margin-top:15px;
    margin-right: 17px;
    border-radius: 5px;
}
