.klsnt-window-container {
    position: fixed;
    background: url("chrome-extension://__MSG_@@extension_id__/klsnt-window/images/window-background.png") top left repeat;
    border-image-source: url("chrome-extension://__MSG_@@extension_id__/klsnt-window/images/border.png");
    border-image-slice: 45 18 16 18;
    border-style: solid;
    border-width: 45px 18px 16px 18px;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    z-index: 1000;
}

.klsnt-window-header {
    margin-top: -31px;
    font-size: 19px;
    user-select: none;
}

.klsnt-close-button {
    background-image: url("chrome-extension://__MSG_@@extension_id__/klsnt-window/images/window-sprite.png");
    background-position: -122px 0px ;
    height: 18px;
    width: 18px;
    z-index: 1000;
    margin-top: 2px;
    margin-right: -2px;
    float: right;
    cursor: url("chrome-extension://__MSG_@@extension_id__/klsnt-common/style/images/cursor/cursor_hover.png"), auto;
}

.klsnt-close-button:hover {
    background-position: -122px -18px;
}

.klsnt-close-button:active {
    background-position: -122px -36px;
}

.klsnt-window-body {
    width: 400px;
    height: 498px;
    margin-top: 10px;
}

.klsnt-tabs {
    width: 400px;
    height: 34px;
}


.klsnt-tab{
    width: 42px;
    height: 34px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/klsnt-window/images/window-sprite.png");
    background-position: -142px 0px;
    float: left;
    margin-right: 2px;
}

.klsnt-tab:hover{
    width: 42px;
    height: 32px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/klsnt-window/images/window-sprite.png");
    background-position: -142px -68px;
    cursor: url("chrome-extension://__MSG_@@extension_id__/klsnt-common/style/images/cursor/cursor_hover.png"), auto;

}

.klsnt-tab-selected{
    width: 42px;
    height: 34px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/klsnt-window/images/window-sprite.png");
    background-position: -142px -34px;
    float: left;
}